.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    background-color: #F7F8F3;
    min-height: 100vh;
    gap: 12px;
}

.location{
    cursor: pointer;
    border: solid 2px;
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    background-color: #002c3e;
    color: white;
}